$p-color: #ff0055;


.trending{
    margin-top: 70px;
    height: fit-content;
    width: 100%;
    background-color: white;
    color: grey;
    padding: 0px 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 10px;

    button{
        width: fit-content;
        height: fit-content;
        padding: 15px 20px;
        background-color: $p-color;
        color: white;
        border: none;
    }
    div{
        font-weight: 400;
    }
}

.newsBanner{
    width: 100%;
    height: fit-content;
    padding: 30px 10%;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 68% 30%;
    justify-content: space-between;

    .slide-container{
        width: 100%;
        height: fit-content;

        .each-slide{
            width: 100%;
            height: 30vw;

            .mySlide{
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
                .caption{
                    color: #f2f2f2;
                    background-color: rgba(0, 0, 0, 0.753);
                    font-size: 15px;
                    padding: 8px 12px;
                }
            }

        }
          
        
    }

    .categories{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 18% 18% 18% 18% 18%;
        align-content: space-between;

        div{
            padding: 10px 20px;
            color: white;
            background-color: rgba(0, 0, 0, 0.308);
            background-blend-mode: overlay;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            height: fit-content;
            align-self: center;
            width: 100%;
            height: 100%;
        }
        div:first-child{
            background-color: rgb(238, 238, 238);
            color: grey;
            height: 70%;
            padding: 15px;
            justify-content: space-between;

            span{
                font-size: 15px;
                font-weight: normal;
            }
        }
    }

    .featured{
        grid-column: 1 / span 2;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: 30% 30% 30%;
        grid-column-gap: 2%;
        align-content: space-between;

        div{
            background-color: rgb(238, 238, 238);
            padding: 15px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            height: fit-content;
            align-self: center;
            width: 100%;
            height: 100%;
            color: gray;
        }
        div:first-child{
            grid-column: 1 / span 2;
        }
    }

    .popular{
        height: fit-content;
        display: grid;
        grid-template-columns: 49% 49%;
        grid-row-gap: 20px;
        justify-content: space-between;
        width: 100%;

        .blog{
            background-color: rgb(238, 238, 238);
            color: gray;

            .image{
                width: 100%;
                height: 15vw;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .heading{
                padding: 30px 30px 10px 30px;

                span{
                    font-size: 12px;
                }

                span:first-child{
                    color: $p-color;
                }
            }
            .read-more{
                height: fit-content;
                width: 100%;
                padding: 10px 30px;
            }
            .read-more a{
                color: black;
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                text-align: center;
                margin: auto;
            }
            a:hover{
                color: $p-color;
                text-decoration: underline;
            }
            p{
                padding: 0px 30px 30px 30px;
                word-wrap: break-word;
            }
            p::after{
                content: "...";
            }

        }
    }

    .side{
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 50px;
    }

    .follow{
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 49% 49%;
        grid-row-gap: 10px;
        justify-content: space-between;
        align-content: space-between;

        div{
            background-color: rgb(238, 238, 238);
            padding: 10px 20px;
            font-weight: 500;
            font-size: 20px;
            width: 100%;
            height: fit-content;
            color: white;
            text-align: center;
            box-shadow: inset -2px -2px 1px 1px rgba(0, 0, 0, 0.199);
            cursor: pointer;
        }
        div:first-child{
            grid-column: 1 / span 2;
            padding-top: 15px;
            color: grey;
            box-shadow: none;
            cursor: auto;
        }
        div:nth-child(2){
            background-color: rgb(34, 148, 224);
        }
        div:nth-child(3){
            background-color: rgb(66, 195, 255);
        }
        div:nth-child(4){
            background-color: rgb(255, 0, 140);
        }
        div:nth-child(5){
            background-color: rgb(255, 51, 0);
        }
        div:nth-child(6){
            background-color: blue;
        }
        div:nth-child(7){
            background-color: rgb(0, 255, 85);
        }
    }

    .newsLetter{
        height: fit-content;
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
        color: grey;

        div:first-child{
            background-color: rgb(238, 238, 238);
            padding: 15px 20px;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
        }
        div:last-child{
            background-color: rgb(238, 238, 238);
            padding: 20px;

            div{
                width: 100%;
                display: grid;
                grid-template-columns: 70% 30%;
                padding: 10px 0px 0px 0px;

                input{
                    padding: 15px 20px;
                    outline: none;
                    border: solid 1px rgb(173, 173, 173);
                    background: transparent;
                }
                button{
                    background: $p-color;
                    border: none;
                    outline: none;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
    
    .trendingBlog{
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 15px;

        div:first-child{
            width: 100%;
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .subTitle{
            background-color: rgb(238, 238, 238);
            padding: 15px 20px;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            color: grey
        }
        .subBlog{
            display: grid;
            grid-template-columns: 25% 70%;
            height: fit-content;
            width: 100%;
            justify-content: space-between;

            .image{
                height: 100%;
                width: 100%;
            }
            .heading{
                padding: 10px 0px;

                span{
                    font-size: 12px;
                }

                span:first-child{
                    color: $p-color;
                }
                .read-more{
                    height: fit-content;
                }
                .read-more a{
                    color: black;
                    font-size: 15px;
                    font-weight: 600;
                    text-decoration: none;
                    text-align: left;
                }
            }
        }
    }

    .tags{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;

        .tagsBtn{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        div:first-child{
            background-color: rgb(238, 238, 238);
            padding: 15px 20px;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            color: grey;
            grid-column: 1 / span 3;
            width: 100%;
        }
        button{
            width: fit-content;
            height: fit-content;
            padding: 5px 10px;
            background: transparent;
            border: solid 1px grey;
            border-radius: 5px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 1115px) {
    .newsBanner{

        .follow{
            display: flex;
            flex-direction: column;
            height: 400px;
            align-items: space-between;
            justify-content: space-between;
        }
    }   
}


@media screen and (max-width: 780px) {
    .trending{
        grid-template-columns: auto auto;

        button{
            padding: 10px 15px;
        }
        marquee{
            width: 100%;
            grid-column: 2;
        }
        .timer{
            grid-column: 1 / span 2;
            font-size: 12px;
        }
    }
    .newsBanner{
        display: grid;
        grid-template-columns: 100%;

        .featured{
            grid-column: 1;
        }
        .follow{
            display: grid;
            height: 230px;
        }
    }
}


@media screen and (max-width: 500px){
    .newsBanner{
        .slide-container{
            .each-slide{
                height: 50vw;
            }
        }
        .popular{
            grid-template-columns: 100%;

            .blog{
                .image{
                    height: 30vw;
                }
            }
        }
    }
}


@media screen and (max-width: 340px) {
    .newsBanner{
        .follow{
            display: flex;
            flex-direction: column;
            height: 400px;
            align-items: space-between;
            justify-content: space-between;
        }
    }
}