$p-color: #ff0055;

.container-form{
    padding: 100px 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 211, 211);

    .box{
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 0, 0.741);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
    .box div{
        width: 50%;
    }
    .box div:last-child{
        border-radius: 8px 0px 0px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        perspective: 100px;

        button{
            background-color: $p-color;
            border: none;
            padding: 15px 30px;
            font-size: 20px;
            color: white;
            border-radius: 9px;
            animation: btn 2s ease 0.3s infinite;
            perspective: 100px;
            transform-style: preserve-3d;
            box-shadow: inset 0px 2px 5px 0px #460118;
            box-shadow: 0px 2px 15px 1px #b8013e
        }
    }
    .box div:first-child{
        background-color: white;
        box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.486);
        padding: 30px;
        
        form{
            display: flex;
            flex-direction: column;
            grid-row-gap: 30px;
            margin-top: 50px;
            font-weight: 500;

            input{
                border: none;
                border-bottom: solid 2px rgb(194, 194, 194);
                padding: 10px 30px;
                background: transparent;
                outline: none;
                font-size: 15px;
                background-position: left;
                background-repeat: no-repeat;
                fill: none;
            }
            input::placeholder{
                color: rgb(194, 194, 194);
            }
            input[type=submit]{
                border: none;
                background-color: $p-color;
                border-radius: 8px;
                font-size: 18px;
                color: white;
                cursor: pointer;
            }
            a{
                color: $p-color;
                text-decoration: none;
                font-weight: 600;
            }
            span{
                color: rgb(54, 54, 54);
            }
        }

        h1{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: lighter;
            color: rgb(54, 54, 54);
        }
        h1::before{
            content: "Si";
            color: rgb(54, 54, 54);
            border-bottom: solid 2px $p-color;
        }
        .h1login::before{
            content: "Lo";
        }
    }
}

@keyframes btn {
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(30deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

@media screen and (max-width: 500px) {
    .container-form{
        .box{
            display: flex;
            flex-direction: column;
            flex-flow: column-reverse;
            overflow: visible;
            height: fit-content;
            background-size: 100% auto;
            background-position: 0px calc(-100vw + 200px);
        }
        .box div{
            width: 100%;
        }
        .box div:last-child{
            height: 200px;
        }
    }
}